.btn{
    padding: 5px !important;
    border: 2px solid white !important;
    background-color: white !important;
    border-radius: 5px !important;
    text-decoration: none !important;
    background-color: rgb(255, 255, 255) !important;
    color: rgb(0, 0, 0) !important;
}
.btn:hover{

transition: all .4s !important;

}